<!doctype html>

<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">

		<title>Ila Weds Saransh</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<link rel="shortcut icon" href="assets/color01/favicon.ico" type="image/x-icon" /> 

		<link rel="stylesheet" href="assets/color01/style.css">
		<link rel="stylesheet" href="assets/color01/font-awesome.css">

		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
		<script src="assets/color01/jquery-1.11.0.html" type="text/javascript"></script>

		<!--[if IE]>
	    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	  	<![endif]-->

	  	<style>
	  		
	  		h1 { font-size: 100px !important; 
	  			 text-align: center; 
	  			 color: #9668b0; 
	  			 margin-top: 
	  			 120px !important; 
	  			 margin-bottom: 
	  			 -25px !important; 
	  		}
	  		
	  		#preview i { font-size: 80px; }
	  		.c1 { color: #9668b0; }
	  		.c2 { color: #e54c9f; }
	  		.c3 { color: #f23b43; }
	  		.c4 { color: #c8a05a; }
	  		.c5 { color: #92a760; }
	  		.c6 { color: #649dc1; }
	  		a { opacity: 1; }
	  		a:hover { opacity: 0.6; }
	  	
	  	</style>
	</head>

	<body>

		<section id="preview">
			<div class="center-container clearfix">
				<h1>Wedding Website</h1>
				<hr>
				<h6>Stylish Responsive Wedding Website</h6>
				<hr>

				<div class="m-12 mt-20">
					
					<p>Choose your favorite color:</p>
					
					<div class="m-02 mt-40">
						<%= link_to color01_path do %>
    						<i class="fa fa-heart c1"></i>
						<% end %>
					</div>
					<div class="m-02 mt-40">
						<%= link_to color02_path do %>
    						<i class="fa fa-heart c2"></i>
						<% end %>
					</div>
					<div class="m-02 mt-40">
						<%= link_to color03_path do %>
    						<i class="fa fa-heart c3"></i>
						<% end %>
					</div>
					<div class="m-02 mt-40">
						<%= link_to color04_path do %>
    						<i class="fa fa-heart c4"></i>
						<% end %>
					</div>
					<div class="m-02 mt-40">
						<%= link_to color05_path do %>
    						<i class="fa fa-heart c5"></i>
						<% end %>
					</div>
					<div class="m-02 mt-40">
						<%= link_to color06_path do %>
    						<i class="fa fa-heart c6"></i>
						<% end %>
					</div>

				</div>
			</div>
		</section>

	</body>

</html>